.gallery-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .gallery-section {
    grid-template-columns: 1fr;
  }
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: plum;
}

.link {
  text-decoration: none;

}

.gallery-item img {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  height: 350px;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover h3 {
  opacity: 1;
}

.more-details-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.more-details-btn:hover {
  transform: scale(1.1);
}
