.testimonials {
  background-color: #f6f6f6;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.testimonial::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100vw;
  background-color: #8a2fb727;
  height: 40%;
}

.testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  overflow-x: hidden;
}

.testimonial img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 600px;
  margin-bottom: 20px;
}

.testimonial span {
  font-size: 14px;
  font-style: italic;
}

@media (min-width: 768px) {
  .testimonials {
    padding: 100px 0;
  }

  .testimonial {
    flex-direction: row;
    max-width: 800px;
    margin-bottom: 100px;
    justify-content: center;
  }

  .testimonial:nth-child(even) {
    flex-direction: row-reverse;
  }

  .testimonial img {
    margin-right: 30px;
    margin-left: 30px;
  }

  .testimonial h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .testimonial p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .testimonial span {
    font-size: 16px;
  }
}
